<% provide(:title, "About") %>

<div class="about-container">
	<h1>About</h1>
	<br>
	<p>
		My name is Jeff Craig and this website is an attempt at improving the quality and availability of CWHL statistics.  If you have questions, comments, or just want to follow what I do, you can reach me via <a href="https://twitter.com/jeff_craig_" target="_blank" >Twitter</a> or email (ahltracker[at]gmail.com).
	</p>
	<br>
	<br>
	<h1>Tutorials</h1>
	<br>
	<p>
		If you're interested in learning about how to use the site better then check out my tutorials (they're made for my other project <a href="https://www.ahltracker.com" target="_blank" >AHL Tracker</a> so despite looking a bit different they still apply to this website as well).  I'll try to add them as I go so that the site's features are better understood.
	</p>
	<br>
	<ol>
		<li>1. <a href="https://jefftcraig.github.io/ahl-writeups/blog/2018/03/05/tutorial-goal-breakdown/" target="_blank" >Goal Breakdown and Searchbar</a></li>
	</ol>
	<br>
	<br>
	<h1>Player Info</h1>
	<br>
	<p>
		Download player bio information <%= link_to "here", player_info_path %>
	</p>
	
</div>
