<% provide(:title, "About") %>

<div class="about-container">
	<h1>About</h1>
	<br>
	<p>
		My name is Jeff Craig and this website is my attempt at improving the quality and availability of AHL statistics.  If you have questions, comments, or just want to follow what I do, you can reach me via <a href="https://twitter.com/jeff_craig_">Twitter</a> or email (ahl_tracker[at]gmail.com).
	</p>
	<br>
	<p>
		If you're interested in seeing some AHL data in viz form check out <a href="https://public.tableau.com/profile/jeff.craig#!/">my tableau</a> which contains some of that kind of thing.  And if you're looking for some of my insight into hockey check out <a href="https://jtc-git.github.io/ahl-writeups/">my blog</a>.
	</p>
	<br>
	<h1>Tutorials</h1>
	<br>
	<p>
		If you're interested in learning about how to use the site better then check out my tutorials.  I'll try to add them as I go so that the site's features are better understood.
	</p>
	<br>
	<ol>
		<li>1. <a href="https://jtc-git.github.io/ahl-writeups/blog/2018/03/05/tutorial-goal-breakdown/">Goal Breakdown and Searchbar</a></li>
	</ol>
</div>
