<ul>
  <li><span>GP:</span> Games played.</li>
  <li><span>6v5GF:</span> Goals scored by team with 6 skaters against 5 skaters.</li>
  <li><span>6v5GA:</span> Goals scored against team when it has 6 skaters against 5 skaters.</li>
  <li><span>5v6GF:</span> Goals scored by team when it has 5 skaters against 6 skaters.</li>
  <li><span>5v6GA:</span> Goals scored against team when it has 5 skaters against 6 skaters.</li>
  <li><span>6v4GF:</span> Goals scored by team when it has 6 skaters against 4 skaters.</li>
  <li><span>6v4GA:</span> Goals scored against team when it has 6 skaters against 4 skaters.</li>
  <li><span>4v6GF:</span> Goals scored by team when it has 4 skaters against 6 skaters.</li>
  <li><span>4v6GA:</span> Goals scored against team when it has 4 skaters against 6 skaters.</li>
  <li><span>6v3GF:</span> Goals scored by team when it has 6 skaters against 3 skaters.</li>
  <li><span>6v3GA:</span> Goals scored against team when it has 6 skaters against 3 skaters.</li>
  <li><span>3v6GF:</span> Goals scored by team when it has 3 skaters against 6 skaters.</li>
  <li><span>3v6GA:</span> Goals scored against team when it has 3 skaters against 6 skaters.</li>
</ul>
