<ul>
  <li><span>GP:</span> Games played.</li>
  <li><span>5v5GF:</span> Goals scored by team with 5 skaters against 5 skaters.</li>
  <li><span>5v5GA:</span> Goals scored against team when it has 5 skaters against 5 skaters.</li>
  <li><span>5v5GF%:</span> Percentage of goals scored by team when teams have 5 skaters against 5 skaters (GF / (GF + GA)).</li>
  <li><span>4v4GF:</span> Goals scored by team when it has 4 skaters against 4 skaters.</li>
  <li><span>4v4GA:</span> Goals scored against team when it has 4 skaters against 4 skaters.</li>
  <li><span>4v4GF%:</span> Percentage of goals scored by team when teams have 4 skaters against 4 skaters (GF / (GF + GA)).</li>
  <li><span>3v3GF:</span> Goals scored by team when it has 3 skaters against 3 skaters.</li>
  <li><span>3v3GA:</span> Goals scored against team when it has 3 skaters against 3 skaters.</li>
  <li><span>3v3GF%:</span> Percentage of goals scored by team when teams have 3 skaters against 3 skaters (GF / (GF + GA)).</li>
</ul>
