<ul>
  <li><span>GP:</span> Games played.</li>
  <li><span>W:</span> Wins.</li>
  <li><span>OTW:</span> Overtime wins.</li>
  <li><span>SOW:</span> Shootout wins.</li>
  <li><span>FW:</span> Forfeit wins.</li>
  <li><span>L:</span> Losses.</li>
  <li><span>OTL:</span> Overtime losses.</li>
  <li><span>SOL:</span> Shootout losses.</li>
  <li><span>FL:</span> Forfeit losses.</li>
  <li><span>PTS:</span> Points.</li>
  <li><span>PTS%:</span> Percentage of points earned of the amount of points possible (points divided by points possible to have earned).</li>
  <li><span>ROW:</span> Regulation and overtime wins.</li>
  <li><span>GF:</span> Goals for (not including shootout goals).</li>
  <li><span>GA:</span> Goals against (not including shootout goals).</li>
  <li><span>PIM:</span> Penalty minutes.</li>
  <li><span>S%:</span> Shooting percent (goals divided by shots taken).</li>
  <li><span>SV%:</span> Aggregate save percent of all goalies on the team (saves divided by shots against).</li>
  <li><span>PDO:</span> Team save percent plus team shooting percent.</li>
</ul>
