<ul>
  <li><span>GP:</span> Games played.</li>
  <li><span>EVGF:</span> Even strength goals for.</li>
  <li><span>EVGA:</span> Even strength goals against.</li>
  <li><span>PPGF:</span> Powerplay goals for.</li>
  <li><span>PPGA:</span> Powerplay goals given up by a team.</li>
  <li><span>SHGF:</span> Shorthanded goals for.</li>
  <li><span>SHGA:</span> Shorthanded goals given up by a team.</li>
  <li><span>GF/G:</span> Goals for per game (goals for divided by games played).</li>
  <li><span>GA/G:</span> Goals against per game (goals for divided by games played).</li>
  <li><span>GF%:</span> Goals for percent (goals for divided by goals for plus goals against)</li>
  <li><span>EVGF/G:</span> Even strength goals for per game (even strength goals for divided by games played).</li>
  <li><span>EVGA/G:</span> Even strength goals against per game (even strength goals for divided by games played).</li>
  <li><span>EVGF%:</span> Even strength goals for percent (even strength goals for divided by even strength goals for plus even strength goals against)</li>
  <li><span>PPGF/G:</span> Powerplay goals for per game (powerplay goals for divided by games played).</li>
  <li><span>PPGA/G:</span> Powerplay goals given up per game (powerplay goals against divided by games played).</li>
  <li><span>SHGF/G:</span> Shorthanded goals for per game (shorthanded goals for divided by games played).</li>
  <li><span>SHGA/G:</span> Shorthanded goals given up by the team per game (shorthanded goals against divided by games played).</li>
</ul>
