<ul>
  <li><span>GP:</span> Games played.</li>
  <li><span>PIM:</span> Penalty minutes.</li>
  <li><span>MIN:</span> Minor penalties taken.</li>
  <li><span>MIN/G:</span> Minor penalties taken per game.</li>
  <li><span>DBL:</span> Double minor penalties taken.</li>
  <li><span>DBL/G:</span> Double minor penalties taken per game.</li>
  <li><span>MAJ:</span> Major penalties taken.</li>
  <li><span>MAJ/G:</span> Major penalties taken per game.</li>
  <li><span>MISC:</span> Misconduct penalties taken.</li>
  <li><span>MISC/G:</span> Misconduct penalties taken per game.</li>
  <li><span>gMISC:</span> Game misconduct penalties taken.</li>
  <li><span>gMISC/G:</span> Game misconduct penalties taken per game.</li>
</ul>