<ul>
  <li><span>GP:</span> Games played.</li>
  <li><span>1PS:</span> First period shots.</li>
  <li><span>2PS:</span> Second period shots.</li>
  <li><span>3PS:</span> Third period shots.</li>
  <li><span>OTS:</span> Overtime shots.</li>
  <li><span>1PS/G:</span> First period shots per game (first period shots divided by games played).</li>
  <li><span>2PS/G:</span> Second period shots per game (second period shots divided by games played).</li>
  <li><span>3PS/G:</span> Third period shots per game (third period shots divided by games played).</li>
  <li><span>OTS/G:</span> Overtime shots per game (overtime shots divided by games played).</li>
  <li><span>1PG:</span> First period goals.</li>
  <li><span>2PG:</span> Second period goals.</li>
  <li><span>3PG:</span> Third period goals.</li>
  <li><span>OTG:</span> Overtime goals.</li>
  <li><span>1PG/G:</span> First period goals per game (first period goals divided by games played).</li>
  <li><span>2PG/G:</span> Second period goals per game (second period goals divided by games played).</li>
  <li><span>3PG/G:</span> Third period goals per game (third period goals divided by games played).</li>
  <li><span>OTG/G:</span> Overtime goals per game (overtime goals divided by games played).</li>
</ul>
