<ul>
  <li><span>GP:</span> Games played.</li>
  <li><span>5v4GF:</span> Goals scored by team with 5 skaters against 4.</li>
  <li><span>5v4GA:</span> Goals against team with 5 skaters against 4.</li>
  <li><span>5v3GF:</span> Goals scored by team with 5 skaters against 3.</li>
  <li><span>5v3GA:</span> Goals against team with 5 skaters against 3.</li>
  <li><span>4v3GF:</span> Goals scored by team with 4 skaters against 3.</li>
  <li><span>4v3GA:</span> Goals against team with 4 skaters against 3.</li>
</ul>
