<ul>
  <li><span>GP:</span> Games played.</li>
  <li><span>4v5GF:</span> Goals scored by team with 4 skaters against 5.</li>
  <li><span>4v5GA:</span> Goals against team with 4 skaters against 5.</li>
  <li><span>3v5GF:</span> Goals scored by team with 3 skaters against 5.</li>
  <li><span>3v5GA:</span> Goals against team with 3 skaters against 5.</li>
  <li><span>3v4GF:</span> Goals scored by team with 3 skaters against 4.</li>
  <li><span>3v4GA:</span> Goals against team with 3 skaters against 4.</li>
</ul>
