<ul>
  <li><span>GP:</span> Games played.</li>
  <li><span>SF:</span> Shots for.</li>
  <li><span>SA:</span> Shots against.</li>
  <li><span>SF/G:</span> Shots for per game (shots for divided by games played).</li>
  <li><span>SA/G:</span> Shots against per game (shots against divided by games played).</li>
  <li><span>SF%:</span> Shots for percent (shots for divided by shots against plus shots for).</li>
  <li><span>1PS:</span> First period shots.</li>
  <li><span>2PS:</span> Second period shots.</li>
  <li><span>3PS:</span> Third period shots.</li>
  <li><span>OTS:</span> Overtime shots.</li>
  <li><span>1PS/G:</span> First period shots per game (first period shots divided by games played).</li>
  <li><span>2PS/G:</span> Second period shots per game (second period shots divided by games played).</li>
  <li><span>3PS/G:</span> Third period shots per game (third period shots divided by games played).</li>
  <li><span>OTS/G:</span> Overtime shots per game (overtime shots divided by games played).</li>
</ul>
