<ul>
  <li><span>GP:</span> Games played.</li>
  <li><span>SOW:</span> Shootout wins.</li>
  <li><span>SOL:</span> Shootout loses.</li>
  <li><span>ATT:</span> Shootout attempts.</li>
  <li><span>G:</span> Shootout goals.</li>
  <li><span>SO%:</span> Shootout percent (shootout goals divided by attempts).</li>
</ul>
