<ul>
  <li><span>Age:</span> Player's age on the opening night of the regular season that year.</li>
  <li><span>GP:</span> Games played.</li>
  <li><span>ENFGF:</span> Goals scored while a team has pulled their goalie with the player on the ice.</li>
  <li><span>ENFGA:</span> Goals scored against a team while they have pulled their goalie with the player on the ice.</li>
  <li><span>ENFGF%:</span> A team's percentage of goals in his team's favour when the player is on the ice and the team's goalie is pulled (ENFGF divided ENFGF plus ENFGA).</li>
  <li><span>6v5GF:</span> Goals scored by a team with 6 skaters against 5 with the player on the ice.</li>
  <li><span>6v5GA:</span> Goals scored against a team with 6 skaters against 5 with the player on the ice.</li>
  <li><span>6v5GF%:</span> A teams percentage of all goals scored when they have 6 skaters against 5 with the player on the ice (6v5GF divided by 6v5GF plus 6v5GA).</li>
  <li><span>6v4GF:</span> Goals scored by a team when they have 6 skaters against 4 with the player on the ice.</li>
  <li><span>6v4GA:</span> Goals scored against a team when they have 6 skaters against 4 with the player on the ice.</li>
  <li><span>6v4GF%:</span> A teams percentage of all goals scored when they have 6 skaters against 4 with the player on the ice (6v4GF divided by 6v4GF plus 6v4GA).</li>
  <li><span>6v3GF:</span> Goals scored by a team when they have 6 skaters against 3 with the player on the ice.</li>
  <li><span>6v3GA:</span> Goals scored against a team when they have 6 skaters against 3 with the player on the ice.</li>
  <li><span>6v3GF%:</span> A teams percentage of all goals scored when they have 6 skaters against 3 with the player on the ice (6v3GF divided by 6v3GF plus 6v3GA).</li>
  <li><span>ENAGF:</span> Goals scored by a team when they are facing an empty net with the player on the ice.</li>
  <li><span>ENAGA:</span> Goals scored against a team when they are facing an empty net with the player on the ice.</li>
  <li><span>ENAGF%:</span> A teams percentage of all goals scored when they are facing an empty net with the player on the ice (ENAGF divided by ENAGF plus ENAGA).</li>
  <li><span>5v6GF:</span> Goals scored by a team when they have 5 skaters against 6 with the player on the ice.</li>
  <li><span>5v6GA:</span> Goals scored against a team when they have 5 skaters against 6 with the player on the ice.</li>
  <li><span>5v6GF%:</span> A teams percentage of all goals scored when they have 5 skaters against 6 with the player on the ice (5v6GF divided by 5v6GF plus 5v6GA).</li>
  <li><span>4v6GF:</span> Goals scored by a team when they have 4 skaters against 6 with the player on the ice.</li>
  <li><span>4v6GA:</span> Goals scored against a team when they have 4 skaters against 6 with the player on the ice.</li>
  <li><span>4v6GF%:</span> A teams percentage of all goals scored when they have 4 skaters against 6 with the player on the ice (4v6GF divided by 4v6GF plus 4v6GA).</li>
  <li><span>3v6GF:</span> Goals scored by a team when they have 3 skaters against 6 with the player on the ice.</li>
  <li><span>3v6GA:</span> Goals scored against a team when they have 3 skaters against 6 with the player on the ice.</li>
  <li><span>3v6GF%:</span> A teams percentage of all goals scored when they have 3 skaters against 6 with the player on the ice (3v6GF divided by 3v6GF plus 3v6GA).</li>
</ul>
