<ul>
  <li><span>Age:</span> Player's age on the opening night of the regular season that year.</li>
  <li><span>GP:</span> Games played.</li>
  <li><span>ESGF:</span> Even strength goals a team scores when the player is on the ice.</li>
  <li><span>ESGA:</span> Even strength goals a team allows when the player is on the ice.</li>
  <li><span>ESGF%:</span> A team's percentage of even strength goals in his team's favour when the player is on the ice (ESGF divided by ESGF plus ESGA).</li>
  <li><span>ESGF%rel:</span> The difference between the player's ESGF% and his team's ESGF% when he's off the ice.</li>
  <li><span>ESGF/G:</span> ESGF but as a per game stat (ESGF divided by games played).</li>
  <li><span>ESGA/G:</span> ESGA but as a per game stat (ESGA divided by games played).</li>
  <li><span>PPGF:</span> Powerplay goals a team scored when the player is on the ice.</li>
  <li><span>PPGA:</span> Goals given up by a team on the powerplay with the player on the ice.</li>
  <li><span>PPGF/G:</span> PPGF but as a per game stat (PPGF divided by games played).</li>
  <li><span>PPGA/G:</span> PPGA but as a per game stat (PPGA divided by games played).</li>
  <li><span>PPGF%:</span> A team's percentage of all the goals scored when they are on a powerplay with the player (powerplay goals for divided by powerplay goals for plus shorthanded goals against).</li>
  <li><span>SHGF:</span> Goals scored by a team while shorthanded with the player on the ice.</li>
  <li><span>SHGA:</span> Goals scored on a team while they were shorthanded with the player on the ice.</li>
  <li><span>SHGF%:</span> A team's percentage of all goals scored while shorthanded with the player on the ice (shorthanded goals for divided by shorthanded goals for plus powerplay goals against).</li>
  <li><span>SHGF/G:</span> SHGF as a per game stat (shorthanded goals for divided by games played).</li>
  <li><span>SHGA/G:</span> SHGA as a per game stat (goals given up while shorthanded divided by games played).</li>
  <li><span>iPP:</span> Percentage of on ice goals that the player registered a point on.</li>
</ul>
