<ul>
  <li><span>Age:</span> Player's age on the opening night of the regular season that year.</li>
  <li><span>GP:</span> Games played.</li>
  <li><span>PPGF:</span> Powerplay goals a team scores when the player is on the ice.</li>
  <li><span>PPGA:</span> Goals allowed by a team on the powerplay when the player is on the ice.</li>
  <li><span>PPGF%:</span> A team's percentage of all the goals scored while they're on a powerplay with the player on the ice (PPGF divided by PPGF plus PPGA).</li>
  <li><span>5v4GF:</span> Goals scored by a team with 5 skaters against 4 with the player on the ice.</li>
  <li><span>5v4GA:</span> Goals scored against a team with 5 skaters against 4 with the player on the ice.</li>
  <li><span>5v4GF%:</span> A teams percentage of all goals scored when they have 5 skaters against 4 with the player on the ice (5v4GF divided by 5v4GF plus 5v4GA).</li>
  <li><span>5v3GF:</span> Goals scored by a team when they have 5 skaters against 3 with the player on the ice.</li>
  <li><span>5v3GA:</span> Goals scored against a team when they have 5 skaters against 3 with the player on the ice.</li>
  <li><span>5v3GF%:</span> A teams percentage of all goals scored when they have 5 skaters against 3 with the player on the ice (5v3GF divided by 5v3GF plus 5v3GA).</li>
  <li><span>4v3GF:</span> Goals scored by a team when they have 4 skaters against 3 with the player on the ice.</li>
  <li><span>4v3GA:</span> Goals scored against a team when they have 4 skaters against 3 with the player on the ice.</li>
  <li><span>4v3GF%:</span> A teams percentage of all goals scored when they have 4 skaters against 3 with the player on the ice (4v3GF divided by 4v3GF plus 4v3GA).</li>
  <li><span>iPP:</span> Percentage of on ice goals that the player registered a point on.</li>
</ul>
