<ul>
  <li><span>Age:</span> Player's age on the opening night of the regular season that year.</li>
  <li><span>GP:</span> Games played.</li>
  <li><span>PKGF:</span> Goals a team scores when on the penalty kill with the player on the ice.</li>
  <li><span>PKGA:</span> Goals allowed by a team on the penalty kill when the player is on the ice.</li>
  <li><span>PKGF%:</span> A team's percentage of all the goals scored while they're on the penalty kill with the player on the ice (PKGF divided by PKGF plus PKGA).</li>
  <li><span>PKGF/G:</span> PKGF as a per game stat (PKGF divided by games played).</li>
  <li><span>PKGA/G:</span> PKGA as a per game stat (PKGA divided by games played).</li>
  <li><span>4v5GF:</span> Goals scored by a team with 4 skaters against 5 with the player on the ice.</li>
  <li><span>4v5GA:</span> Goals scored against a team with 4 skaters against 5 with the player on the ice.</li>
  <li><span>4v5GF%:</span> A teams percentage of all goals scored when they have 4 skaters against 5 with the player on the ice (4v5GF divided by 4v5GF plus 4v5GA).</li>
  <li><span>3v5GF:</span> Goals scored by a team when they have 3 skaters against 5 with the player on the ice.</li>
  <li><span>3v5GA:</span> Goals scored against a team when they have 3 skaters against 5 with the player on the ice.</li>
  <li><span>3v5GF%:</span> A teams percentage of all goals scored when they have 3 skaters against 5 with the player on the ice (3v5GF divided by 3v5GF plus 3v5GA).</li>
  <li><span>3v4GF:</span> Goals scored by a team when they have 3 skaters against 4 with the player on the ice.</li>
  <li><span>3v4GA:</span> Goals scored against a team when they have 3 skaters against 4 with the player on the ice.</li>
  <li><span>3v4GF%:</span> A teams percentage of all goals scored when they have 3 skaters against 4 with the player on the ice (3v4GF divided by 3v4GF plus 3v4GA).</li>
</ul>
