<ul>
  <li><span>Age:</span> Player's age on the opening night of the regular season that year.</li>
  <li><span>GP:</span> Games played.</li>
  <li><span>ESGF:</span> Even strength goals a team scores when the player is on the ice.</li>
  <li><span>ESGA:</span> Even strength goals a team allows when the player is on the ice.</li>
  <li><span>ESGF%:</span> A team's percentage of even strength goals in his team's favour when the player is on the ice (ESGF divided by ESGF plus ESGA).</li>
  <li><span>ESGF%rel:</span> The difference between the player's ESGF% and his team's ESGF% when he's off the ice.</li>
  <li><span>ESGF/G:</span> ESGF as a per game stat (ESGF divided by games played).</li>
  <li><span>ESGA/G:</span> ESGA as a per game stat (ESGA divided by games played).</li>
  <li><span>5v5GF:</span> Goals scored by a team with 5 skaters against 5 with the player on the ice.</li>
  <li><span>5v5GA:</span> Goals scored against a team with 5 skaters against 5 with the player on the ice.</li>
  <li><span>5v5GF%:</span> A teams percentage of all goals scored when they have 5 skaters against 5 with the player on the ice (5v5GF divided by 5v5GF plus 5v5GA).</li>
  <li><span>5v5GF%rel:</span> The difference between the player's 5v5GF% and his team's 5v5GF% when he's off the ice.</li>
  <li><span>4v4GF:</span> Goals scored by a team when they have 4 skaters against 4 with the player on the ice.</li>
  <li><span>4v4GA:</span> Goals scored against a team when they have 4 skaters against 4 with the player on the ice.</li>
  <li><span>4v4GF%:</span> A teams percentage of all goals scored when they have 4 skaters against 4 with the player on the ice (4v4GF divided by 4v4GF plus 4v4GA).</li>
  <li><span>3v3GF:</span> Goals scored by a team when they have 3 skaters against 3 with the player on the ice.</li>
  <li><span>3v3GA:</span> Goals scored against a team when they have 3 skaters against 3 with the player on the ice.</li>
  <li><span>3v3GF%:</span> A teams percentage of all goals scored when they have 3 skaters against 3 with the player on the ice (3v3GF divided by 3v3GF plus 3v3GA).</li>
  <li><span>iPP:</span> Percentage of on ice goals that the player registered a point on.</li>
</ul>
