<ul>
  <li><span>Age:</span> Player's age on the opening night of the regular season that year.</li>
  <li><span>GP:</span> Games played.</li>
  <li><span>ATT:</span> Penalty shot attempts taken.</li>
  <li><span>G:</span> Goals scored on a penalty shot.</li>
  <li><span>PS%:</span> Scoring percent on penalty shots (goals scored divided by attempts taken). NaN means no attempts were taken.</li>
</ul>
