<ul>
  <li><span>Age:</span> Player's age on the opening night of the regular season that year.</li>
  <li><span>GP:</span> Games played.</li>
  <li><span>G:</span> Goals.</li>
  <li><span>A1:</span> Primary assists.</li>
  <li><span>A2:</span> Secondary assists.</li>
  <li><span>P:</span> Total points scored.</li>
  <li><span>PrP:</span> Primary points (goals and primary assists together).</li>
  <li><span>PIM:</span> Penalty minutes accumulated.</li>
  <li><span>G/G:</span> Goals per game (goals divided by games played).</li>
  <li><span>A1/G:</span> Primary assists per game (primary assists divided by games played).</li>
  <li><span>A2/G:</span> Secondary assists per game (secondary assists divided by games played).</li>
  <li><span>P/G:</span> Points per game (points divided by games played).</li>
  <li><span>PrP/G:</span> Primary points per game (primary points divided by games played).</li>
  <li><span>PIM/G:</span> Penalty minutes per game (penalty minutes divided by games played).</li>
</ul>
