<ul>
  <li><span>Age:</span> Player's age on the opening night of the regular season that year.</li>
  <li><span>GP:</span> Games played.</li>
  <li><span>SOG:</span> Shots on goal.</li>
  <li><span>G:</span> Goals.</li>
  <li><span>A1:</span> Primary assists.</li>
  <li><span>A2:</span> Secondary assists.</li>
  <li><span>P:</span> Total points scored.</li>
</ul>
