<ul>
  <li><span>Age:</span> Player's age on the opening night of the regular season that year.</li>
  <li><span>GP:</span> Games played.</li>
  <li><span>ATT:</span> Shootout attempts taken.</li>
  <li><span>G:</span> Goals scored in shootout.</li>
  <li><span>GW:</span> Shootout game winners scored.</li>
  <li><span>SO%:</span> Scoring percent on shootouts (goals scored divided by attempts taken). NaN means no attempts were taken.</li>
</ul>
