<ul>
  <li><span>Age:</span> Player's age on the opening night of the regular season that year.</li>
  <li><span>GP:</span> Games played.</li>
  <li><span>GA:</span> Goals against.</li>
  <li><span>SA:</span> Shots against.</li>
  <li><span>SV:</span> Saves.</li>
  <li><span>GAA:</span> Goals against average (goals against per 60 minutes played).</li>
  <li><span>SV%:</span> Save percent.</li>
  <li><span>SA/G:</span> Shots against per game (shots against per 60 minutes played).</li>
  <li><span>SV/G:</span> Saves per game (saves made per 60 minutes played).</li>
  <li><span>G:</span> Goals scored by goalie.</li>
  <li><span>A:</span> Assists scored by goalie.</li>
  <li><span>P:</span> Total points accumulated by goalie.</li>
  <li><span>PEN:</span> Penalties taken.</li>
  <li><span>PIM:</span> Penalties taken in total minutes.</li>
</ul>
