<ul>
  <li><span>Age:</span> Player's age on the opening night of the regular season that year.</li>
  <li><span>PS-SA:</span> Penalty shot against.</li>
  <li><span>PS-GA:</span> Penalty shot goals against.</li>
  <li><span>SO-SA:</span> Shootout shots against.</li>
  <li><span>SO-GA:</span> Shootout goals against.</li>
  <li><span>SO-SV%:</span> Shootout save percent.</li>
</ul>
