// Place all the styles related to the players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h3 {
  text-align: center;
}

#player-filter, #goalie-profile-filter {
  margin-top: 10px;
}

#gb-button {
  margin-top: 10px;
}

.linemate-heading {
  font-style: italic;
}

.linemate-container {
  text-align: center;
}

.gb-names {
  padding: 20px;
}
