// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h3 {
  text-align: left;
}

.search-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 200px;

  > div {
    flex: 0 0 45%;
  }
}

.welcome-heading {
  text-align: center;
  padding: 20vh 0;

  h1 {
    font-size: 80px;
  }

  .tagline {
    font-style: italic;
  }
}